<!DOCTYPE html>
<html class="mh-100">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
